*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: #008000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.display-board{
    max-width: 100%;
    width:800px;
    border:3px solid white;
    color:white;
    margin-top:3rem;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:23px 35px;
    min-height: 23vh;
}
.game-options{
    font-size: 25px;
}
.score-board{
    display:flex;
    width:400px;
    justify-content: space-around;
}
.player-score{
 height:92%;
 padding:10px 18px;
 background-color: white;
 display:flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 border-radius: 5px;
 font-size: 20px;
 color:black
}
.comp-score{
 height:92%;
 padding:10px 18px;
 background-color: white;
 display:flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 border-radius: 5px;
 font-size: 20px;
 color:black
}
.player-score #plyr-score{
    font-size: 38px;
    font-weight: 600;
}
.comp-score #com-score{
    font-size: 38px;
    font-weight: 600 ;
}
.game-con{
    width:100%;
    min-height:69vh;
    display:flex;
    align-items: center;
    flex-direction: column;    
}
.picked-ops{
    width:700px;
    min-height: 10vh;
    font-size: 1.2rem;
    margin:1rem 0 0 0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.choice{
    max-width: 100%;
    width:700px;
    min-height:40vh;
    display:grid;
    place-content:center ;
    position:relative
}
.con{
    position:absolute;
    width:150px;
    height:150px;
    border:8px solid #023047;
    border-radius: 50%;
    padding:18px;
    background-color: white;
}
.scissor{
    right:6rem;
    top:3%
}
.rock{
    left:17.5rem;
    top:72%;
    
}
.paper{
    left:6rem;
    top:3%;
}
 .item{
    background-color: white;
    height: 100%;
    border-radius: 50%;
    display: grid;
    place-content: center;
 }
 
 .btn-div{
    width:100%;
    display: flex;
    justify-content: flex-end;
    padding:0 2rem 1rem 0;
 }
 .btn-rule{
    padding:8px 30px;
    border:2px solid white;
    outline:none;
    background:transparent ;
    font-size:16px;
    color:white;
    letter-spacing: 3px;
    border-radius: 5px;
    cursor: pointer;
 }
 .machine{
    position:absolute;
    width:150px;
    height:150px;
    border:8px solid #023047;
    border-radius: 50%;
    padding:18px;
    background-color: white;
    display:none;
 }
 .rule-list
 {
    display:none;
    margin: 10px;
    padding: 25px 22px;
   background-color: #01497c;
   list-style-type: square;
   border:4px solid white;
   padding:10px 0 10px 0;
   text-align: center;
   position: relative;
   bottom:25rem;
   left:550px;
   height:45vh;
   max-width: 300px;

 }
 li::marker{
    content: "\25A0";
    color:yellow;
    font-size: 20px;
    box-shadow: 2px 2px 4px rgba(1, 1, 0, 0.5);
    list-style-position: inside;
 }

 #close{
    position:absolute;
    bottom: 32vh;
    left:230px;
    padding:2px;
    height:10%;
    width:60px;
    letter-spacing: 3px;
    border-radius: 2px;
    background: none;
    color:white;
 }
 .win-model{
    position:fixed;
    width:100%;
    height:100vh;
    display: grid;
    place-content: center;
    top:0;
    display: none;
 }
 .win-model::before{
    position:absolute;
    content:"";
    background: white;
    opacity:0.6;
    width:100%;
    height:100%;
 }
 .winner,
 .play{
    z-index: 1;
 }
 .winner{
    color: black;
    padding-bottom: 3px;
    text-align: center;

 }
 .play{
    background: #eee;
    letter-spacing: 3px;
    color: hsl(349,71%,52%);
    outline:none;
    cursor:pointer;
    padding: 15px 20px;
    font-size: 17px;
    border:none;
    border-radius: 5px;
 }

 .show{
    left:6rem;
    top:3%;
 }
 .right{
    left:27.5rem;
    top:3%;
 }